Представим, что международное круизное агентство Carnival Cruise Line решило себя разрекламировать с помощью баннеров и обратилось для этого к вам. Чтобы протестировать, велика ли от таких баннеров польза, их будет размещено всего 20 штук по всему миру. Вам надо выбрать 20 таких локаций для размещения, чтобы польза была большой и агентство продолжило с вами сотрудничать.

Агентство крупное, и у него есть несколько офисов по всему миру. Вблизи этих офисов оно и хочет разместить баннеры — легче договариваться и проверять результат. Также эти места должны быть популярны среди туристов.

Для поиска оптимальных мест воспользуемся базой данных крупнейшей социальной сети, основанной на локациях — Foursquare.

Часть открытых данных есть, например, на сайте archive.org:

https://archive.org/details/201309_foursquare_dataset_umn

Скачаем любым удобным образом архив fsq.zip с этой страницы.

Нас будет интересовать файл checkins.dat. Открыв его, увидим следующую структуру:

Для удобной работы с этим документом преобразуем его к формату csv, удалив строки, не содержащие координат — они неинформативны для нас:
http://pandas.pydata.org/pandas-docs/stable/cookbook.html

In [1]:
import pandas as pd

data = pd.read_csv("checkins.dat", header=0, skiprows=2, names=['id', 'user_id', 'venue_id','latitude', 'longitude', 'created_at'],  delimiter='|', skipinitialspace=True)

/home/sigor/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
data.head()

       id    user_id  venue_id   latitude  longitude           created_at
0  984222    15824.0    5222.0  38.895112 -77.036366  2012-04-21 17:43:47
1  984315  1764391.0    5222.0        NaN        NaN  2012-04-21 17:37:18
2  984234    44652.0    5222.0  33.800745 -84.410520  2012-04-21 17:43:43
3  984249  2146840.0    5222.0        NaN        NaN  2012-04-21 17:42:58
4  984268  2146843.0    5222.0        NaN        NaN  2012-04-21 17:42:38

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1021966 entries, 0 to 1021965
Data columns (total 6 columns):
id            1021966 non-null object
user_id       1021965 non-null float64
venue_id      1021965 non-null float64
latitude      396634 non-null float64
longitude     396634 non-null float64
created_at    1021965 non-null object
dtypes: float64(4), object(2)
memory usage: 46.8+ MB

In [4]:
d = data[:5]

In [17]:
d.loc[:1] # to row with index 1

       id    user_id  venue_id   latitude  longitude           created_at
0  984222    15824.0    5222.0  38.895112 -77.036366  2012-04-21 17:43:47
1  984315  1764391.0    5222.0        NaN        NaN  2012-04-21 17:37:18

In [20]:
d[:2] # tow first rows

       id    user_id  venue_id   latitude  longitude           created_at
0  984222    15824.0    5222.0  38.895112 -77.036366  2012-04-21 17:43:47
1  984315  1764391.0    5222.0        NaN        NaN  2012-04-21 17:37:18

In [21]:
d.dropna()

       id  user_id  venue_id   latitude  longitude           created_at
0  984222  15824.0    5222.0  38.895112 -77.036366  2012-04-21 17:43:47
2  984234  44652.0    5222.0  33.800745 -84.410520  2012-04-21 17:43:43

Для удобной работы с этим документом преобразуем его к формату csv, удалив строки, не содержащие координат — они неинформативны для нас:

In [7]:
data = data.dropna()

С помощью pandas построим DataFrame и убедимся, что все 396634 строки с координатами считаны успешно.

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 396634 entries, 0 to 1021963
Data columns (total 6 columns):
id            396634 non-null object
user_id       396634 non-null float64
venue_id      396634 non-null float64
latitude      396634 non-null float64
longitude     396634 non-null float64
created_at    396634 non-null object
dtypes: float64(4), object(2)
memory usage: 21.2+ MB

Теперь необходимо кластеризовать данные координаты, чтобы выявить центры скоплений туристов. Поскольку баннеры имеют сравнительно небольшую площадь действия, нам нужен алгоритм, позволяющий ограничить размер кластера и не зависящий от количества кластеров.

Эта задача — хороший повод познакомиться с алгоритмом MeanShift, который мы обошли стороной в основной части лекций. Его описание при желании можно посмотреть в sklearn user guide, а чуть позже появится дополнительное видео с обзором этого и некоторых других алгоритмов кластеризации. Используйте MeanShift, указав bandwidth=0.1, что в переводе из градусов в метры колеблется примерно от 5 до 10 км в средних широтах.

Примечание: на 396634 строках кластеризация будет работать долго. Быть очень терпеливым не возбраняется — результат от этого только улучшится. Но для того, чтобы сдать задание, понадобится сабсет из первых 100 тысяч строк. Это компромисс между качеством и затраченным временем. Обучение алгоритма на всём датасете занимает около часа, а на 100 тыс. строк — примерно 2 минуты, однако этого достаточно для получения корректных результатов.

In [16]:
data2 = data[:100000]
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 233797
Data columns (total 6 columns):
id            100000 non-null object
user_id       100000 non-null float64
venue_id      100000 non-null float64
latitude      100000 non-null float64
longitude     100000 non-null float64
created_at    100000 non-null object
dtypes: float64(4), object(2)
memory usage: 5.3+ MB

In [11]:
import numpy as np
from sklearn.cluster import MeanShift, estimate_bandwidth

In [26]:
d[['latitude','longitude']]

    latitude  longitude
0  38.895112 -77.036366
1        NaN        NaN
2  33.800745 -84.410520
3        NaN        NaN
4        NaN        NaN

In [27]:
bandwidth=0.1
ms = MeanShift(bandwidth)
ms.fit(data2[['latitude','longitude']])

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

In [35]:
print len(ms.cluster_centers_), len(ms.labels_), ms.cluster_centers_[0], ms.labels_[0]

 3230 100000 [ 40.7177164  -73.99183542] 5

In [30]:
ms.cluster_centers_

array([[  40.7177164 ,  -73.99183542],
       [  33.44943805, -112.00213969],
       [  33.44638027, -111.90188756],
       ...,
       [  46.7323875 , -117.0001651 ],
       [  29.6899563 ,  -95.8996757 ],
       [  31.3787916 ,  -95.3213317 ]])

In [31]:
ms.labels_

array([ 5,  7, 30, ..., 25, 19,  4])

In [83]:
print sum(ms.labels_ == 0),sum(ms.labels_ == 1),sum(ms.labels_ == 2)

12506 4692 3994

In [84]:
l = pd.DataFrame(ms.labels_, columns=['cluster'])

In [85]:
l.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 1 columns):
cluster    100000 non-null int64
dtypes: int64(1)
memory usage: 781.3 KB

In [86]:
l.sort_values(by=('cluster'), ascending=False)

       cluster
71788     3229
35163     3228
22841     3227
33230     3226
87847     3225
33643     3224
80744     3223
6384      3222
59629     3221
41408     3220
49905     3219
18022     3218
6841      3217
44190     3216
67155     3215
10804     3214
33232     3213
4994      3212
81365     3211
60064     3210
11581     3209
26996     3208
89676     3207
49352     3206
19747     3205
81435     3204
36795     3203
31761     3202
19083     3201
40897     3200
...        ...
36250        0
36249        0
84284        0
84285        0
84288        0
36202        0
84296        0
36201        0
36199        0
36198        0
36197        0
36196        0
36194        0
36188        0
84331        0
36186        0
84309        0
64274        0
84313        0
36146        0
36144        0
84319        0
36131        0
84323        0
36117        0
36116        0
36115        0
36107        0
84330        0
85161        0

[100000 rows x 1 columns]

In [57]:
d.sort_values(by=('id'))

       id    user_id  venue_id   latitude  longitude           created_at
0  984222    15824.0    5222.0  38.895112 -77.036366  2012-04-21 17:43:47
2  984234    44652.0    5222.0  33.800745 -84.410520  2012-04-21 17:43:43
3  984249  2146840.0    5222.0        NaN        NaN  2012-04-21 17:42:58
4  984268  2146843.0    5222.0        NaN        NaN  2012-04-21 17:42:38
1  984315  1764391.0    5222.0        NaN        NaN  2012-04-21 17:37:18

In [74]:
dd = d.groupby('venue_id').size().reset_index(name='counts')

In [75]:
dd

   venue_id  counts
0    5222.0       5

In [87]:
res = l.groupby(['cluster']).size().reset_index(name='counts')

In [88]:
res.counts.sum()

100000L

In [89]:
res.head()

   cluster  counts
0        0   12506
1        1    4692
2        2    3994
3        3    3363
4        4    3526

Некоторые из получившихся кластеров содержат слишком мало точек — такие кластеры не интересны рекламодателям. Поэтому надо определить, какие из кластеров содержат, скажем, больше 15 элементов. Центры этих кластеров и являются оптимальными для размещения.

In [99]:
res[res.counts > 15]

      cluster  counts
0           0   12506
1           1    4692
2           2    3994
3           3    3363
4           4    3526
5           5    2409
6           6    2297
7           7    1601
8           8    1526
9           9    1378
10         10    1298
11         11    1081
12         12    1006
13         13    1007
14         14     714
15         15     868
16         16     870
17         17     645
18         18     808
19         19     807
20         20     612
21         21     722
22         22     754
23         23     747
24         24     539
25         25     656
26         26     580
27         27     577
28         28     679
29         29     564
...       ...     ...
571       571      17
573       573      16
574       574      16
575       575      16
576       576      16
577       577      16
578       578      16
579       579      16
580       580      16
581       581      16
582       582      26
583       583      19
584       584      16
586       586      16
588       588      16
589       589      16
590       590      16
592       592      19
593       593      16
594       594      22
595       595      16
608       608      17
640       640      18
663       663      16
672       672      16
703       703      19
723       723      26
898       898      23
1268     1268      19
1278     1278      21

[593 rows x 2 columns]

In [114]:
optimal_cluster_idx = res[res.counts > 15].index
optimal_cluster_idx[-2]

1268

In [107]:
optimal_clusters = ms.cluster_centers_[optimal_cluster_idx]

In [110]:
optimal_clusters.shape

(593, 2)

In [111]:
optimal_clusters

array([[  40.7177164 ,  -73.99183542],
       [  33.44943805, -112.00213969],
       [  33.44638027, -111.90188756],
       ...,
       [  41.61853175,  -88.44556818],
       [  38.65877915,  -76.8856871 ],
       [  39.2494686 ,  -77.1821271 ]])

При желании увидеть получившиеся результаты на карте можно передать центры получившихся кластеров в один из инструментов визуализации. Например, сайт mapcustomizer.com имеет функцию Bulk Entry, куда можно вставить центры полученных кластеров в формате:

In [116]:
for point in optimal_clusters:
    print point[0],",",point[1]

40.7177163973 , -73.9918354199
33.4494380502 , -112.00213969
33.4463802704 , -111.901887562
41.8782437797 , -87.6298433623
37.6886815741 , -122.409330374
38.8861652156 , -77.0487833307
33.3573445623 , -111.822654108
33.7666362322 , -84.3932891848
42.3632186398 , -71.0736876086
47.6062447174 , -122.332043826
36.117229143 , -115.171073423
34.0603975546 , -118.248709027
44.9779478203 , -93.2673008853
30.267183617 , -97.7431192813
40.76687624 , -73.8333534905
39.7358301526 , -104.986580428
39.951680373 , -75.1627359239
34.0354869531 , -118.438997719
32.9808933822 , -117.078117978
32.8030205353 , -96.7698974349
37.3478711439 , -121.947287224
28.5435015466 , -81.3764286229
32.7113444339 , -117.153638748
32.2217131518 , -110.926535153
34.1274022191 , -118.351883725
29.7626977547 , -95.3823137047
43.0405328168 , -87.914332566
33.8173064339 , -117.891249171
37.390292432 , -122.087286436
25.78581242 , -80.2179380368
45.5234832146 , -122.676280421
33.5697346035 , -112.314015838
33.6743026598 , -117.858789268
-6.21276665639 , 106.844659812
27.9494460796 , -82.4650736
34.160210385 , -118.223616573
39.1000948756 , -94.5824387017
35.227263381 , -80.8431816171
43.6529502219 , -79.3826088698
37.79314222 , -122.266383272
39.9968324051 , -82.9999549332
39.7684502806 , -86.1582494342
33.8729860116 , -118.362091147
47.645224584 , -122.168674816
39.2862503078 , -76.614669291
34.0489281 , -111.0937311
40.4391746445 , -79.9956503328
34.1314601492 , -118.118011806
40.7666683193 , -74.1924955489
37.5437249374 , -122.302308562
33.6508959929 , -117.752073973
33.8098779553 , -118.148923807
40.8701482608 , -73.8593886399
29.4249166324 , -98.4936241079
41.4874845304 , -81.7074692621
26.1208626586 , -80.1589066802
35.7713142228 , -78.6367140966
38.645525338 , -90.22935879
51.5029912609 , -0.12553728871
44.9620340678 , -93.1191077966
38.5815330878 , -121.495651457
40.708071024 , -73.5844003195
38.9852215236 , -77.4059723361
38.868320419 , -77.2433993562
34.0912975346 , -117.980389453
39.1285678085 , -84.5030926995
40.7595999548 , -111.896077779
37.542944669 , -77.4685887934
36.164203998 , -86.7814398082
35.2013516 , -111.639249
49.2401719783 , -123.111860223
40.0149856 , -105.2705456
39.0056565492 , -77.1265309818
32.8775840594 , -97.014731469
40.9847183989 , -73.7742390972
34.0618855737 , -117.671784578
41.2535275 , -95.9993827782
40.4888751896 , -74.4226114902
29.966228186 , -90.0772990205
41.8543565006 , -87.8568999485
42.0652007133 , -87.80762188
37.6930336787 , -122.097844778
44.8847971196 , -93.3270322914
30.3326448916 , -81.6543053277
40.7258096394 , -74.2991960394
43.0728378947 , -89.3999034224
40.6242288329 , -74.225849339
33.8883253428 , -118.048928172
42.8999361257 , -78.8734140681
38.9858973366 , -94.6722020437
34.1981820709 , -118.549276808
33.0118233943 , -96.7015866191
26.0100982493 , -80.1999905857
34.0560122326 , -84.3168902726
40.6099185881 , -74.1194952089
43.1622016389 , -77.6110725847
33.9680469542 , -84.5680670756
43.0488843868 , -76.1451762636
42.3315517195 , -83.0445352406
34.0750788256 , -117.816471886
36.0837927705 , -86.6505529158
42.9581002234 , -85.6680542371
28.6404027 , -81.3438759163
-0.3012262 , 36.5229641
35.1495343 , -90.0489801
-23.5495183462 , -46.6382188812
42.4811898922 , -83.1612989224
47.4525996504 , -122.259313221
19.4303244254 , -99.1410718342
38.2534614149 , -85.759421314
37.5911196289 , -122.020734836
39.0943562259 , -77.17691475
37.9350394777 , -122.524048235
39.9238515673 , -74.9900514082
35.7891041673 , -78.80416964
42.0694061818 , -88.0048002273
41.7875515505 , -88.1307637383
42.2710333311 , -83.7266235292
41.050868183 , -73.5485196142
33.983935874 , -118.007404973
40.065524633 , -74.3943064155
36.033669 , -115.002364
36.778261 , -119.4179324
32.726070496 , -97.321011282
28.399507407 , -81.537411049
42.2836792434 , -85.5861645525
44.8739448449 , -93.4811178969
39.1019614265 , -76.6416129704
33.180450702 , -117.367691767
27.7791552505 , -82.6475371186
45.5063052835 , -73.5596537825
40.055476099 , -75.3335181
42.5169131515 , -83.3117352536
39.9765158427 , -86.0514814583
35.4685426179 , -97.51679604
41.5971014106 , -93.7264591479
37.9159078 , -122.060760173
33.2362374707 , -111.624031498
32.7843057374 , -79.9205039857
43.0021806489 , -88.0143771767
40.8135667489 , -74.4314960533
42.3149251247 , -83.4180204787
39.6187954391 , -104.993854311
34.3931798744 , -118.542477257
26.3525711663 , -80.0852787174
33.9997733424 , -84.1520556506
38.9516029365 , -92.3343964929
32.783560494 , -97.123181975
32.8816214476 , -97.1829085964
42.0090408855 , -88.0961723277
30.4416425602 , -84.2858799458
35.9940329 , -78.898619
38.5273511228 , -90.3810519203
40.724220581 , -73.4000373848
-6.91310210127 , 107.607742759
39.8549331127 , -105.038304195
35.9130061949 , -79.0570751962
1.35083660256 , 103.820220413
26.200584641 , -80.2507161256
39.0824626949 , -77.5254436308
39.5298359115 , -119.811452158
33.9243152104 , -84.2790094675
41.1350897247 , -73.3464990922
39.8563609447 , -75.1119670658
35.0844909 , -106.6511367
45.0486774908 , -93.4039535132
25.7053497211 , -80.2834287382
32.7937055632 , -116.987878503
40.2880650653 , -74.0249913093
40.291521692 , -74.682392796
43.5870665973 , -116.195863984
21.3055708649 , -157.856817284
40.5858157527 , -105.085143741
31.7587198 , -106.4869314
40.5329966644 , -74.2959513795
37.6846486592 , -121.903596396
33.136918969 , -96.8482683775
42.7328466186 , -84.5336769443
42.6269734214 , -83.1985474843
42.3273715391 , -71.3628507478
33.0182368826 , -117.282993978
38.8338816 , -104.8213634
40.1456119397 , -75.2832133721
40.8074544588 , -96.68141625
37.09024 , -95.712891
41.297705606 , -72.9541456299
36.8115821224 , -76.2845886343
33.7888322478 , -84.2675449896
33.0581063 , -112.0476423
48.857765547 , 2.34579836515
41.6003218985 , -93.6076510848
39.2115192766 , -76.850373775
40.1484097422 , -74.0487353031
39.7294319 , -104.8319195
40.0122326016 , -74.9318781938
36.8529263 , -75.977985
33.9556792286 , -83.3815783429
41.0942622016 , -81.5066809651
42.454661081 , -83.4235985825
33.1622098774 , -96.6495485806
41.1307563968 , -73.9996172435
39.3476103613 , -76.7722004871
35.9634935639 , -83.9171275098
41.8224861377 , -71.408106023
33.1306953164 , -117.124322526
44.8869746148 , -92.970317618
41.6811683583 , -86.2389442233
47.34608157 , -122.2690195
13.7310111712 , 100.513362047
-6.31469811525 , 106.813151756
40.4102402627 , -74.2471195661
40.3542309508 , -74.1156747458
35.6800056224 , 139.706056291
44.7820870241 , -93.1836724966
34.8525673333 , -82.3920335088
41.7950035491 , -72.6909231614
44.0517621053 , -123.083347037
36.0331164 , -86.7827772
34.4219613643 , -119.693467614
41.4517049929 , -81.8481970071
39.9753519607 , -105.093241427
43.6616148536 , -70.2543139821
33.4516237945 , -117.647024453
40.5636246145 , -74.5260342618
37.566535 , 126.9779692
34.068120213 , -117.226840491
42.5315665167 , -82.9643414259
32.950111 , -96.8839169833
39.753989734 , -84.1896570774
41.834299834 , -72.564616917
34.0003015113 , -81.0370314623
44.4805511868 , -73.1967836132
34.1641826396 , -118.826450394
40.9479843038 , -74.273485166
41.1699096075 , -73.2181118679
37.6922361 , -97.3375448
40.5942228404 , -111.878982548
32.7925748192 , -117.224742858
42.7531482392 , -71.4595449098
45.0993245667 , -93.2744349471
41.826902251 , -88.3132385608
27.9547452294 , -82.7909158902
30.4507462 , -91.154551
42.21333552 , -87.97050709
47.78685907 , -122.191604392
39.165325 , -86.5263857
33.955129368 , -117.397065084
43.5499749 , -96.700327
27.916103902 , -82.248417849
40.1130731796 , -74.9182825714
-7.26771537143 , 112.741673265
47.987896502 , -122.199018469
42.5226011612 , -70.9078836449
38.8223861979 , -77.4201521396
36.0725413292 , -79.7944798333
33.6502843604 , -84.4375800063
26.7083577292 , -80.0519220333
42.2428485521 , -70.9638145125
40.8671744957 , -73.3805551681
36.1539816 , -95.992775
13.7867983383 , 100.615515391
38.7203514319 , -121.244884155
-22.9035393 , -43.2095869
33.4858127696 , -86.799240813
28.2919557 , -81.407571
27.6648274 , -81.5157535
41.7207068239 , -87.7146183739
38.7423883783 , -77.2191320478
32.062687937 , -81.1015702087
28.5290503717 , -81.556475687
39.3629438756 , -74.4259267356
29.6516344 , -82.3248262
41.3476789311 , -73.4514061733
42.9331308822 , -78.75293654
30.41275364 , -87.2098405667
41.5227277683 , -90.5410787241
38.8813958 , -94.8191285
44.2601702822 , -88.4138840378
40.2194914023 , -74.7935844977
55.7483495182 , 37.6238504182
36.7477272 , -119.7723661
42.195567207 , -71.1867695767
41.243690693 , -73.0647814674
47.2983682907 , -122.36173786
33.8830840395 , -117.563957833
33.9725748214 , -118.168370667
26.4888424714 , -80.0700818714
3.13427592143 , 101.675559869
38.9716689 , -95.2352501
40.1138411 , -88.2367026143
42.434621381 , -71.4507142143
34.0775016738 , -84.0464900333
38.6101854024 , -90.5517497738
45.4277174119 , -122.789654569
31.9685988 , -99.9018131
42.6142514244 , -71.1238334561
41.079273 , -85.1393513
33.604978652 , -86.6369663411
30.4948140268 , -97.6674049366
42.6772062475 , -73.751230325
36.359582685 , -94.179476005
36.973905175 , -122.020079637
40.1672413025 , -75.1301481225
40.49620266 , -88.99246486
33.362778 , -112.168611
38.0529279625 , -122.276567105
40.5255315949 , -74.6474131692
52.5234051 , 13.4113999
42.2549394487 , -71.449731159
39.4177846205 , -76.5977886615
35.9250637 , -86.8688899
39.7359429795 , -75.5505086385
41.6218424103 , -87.7797234
51.045 , -114.0572222
45.4010912895 , -75.7051333684
26.1388437868 , -80.3343468368
41.2183379947 , -73.9347954842
28.0382682737 , -81.9478057947
40.2735251 , -76.8905458658
42.5606268974 , -71.2227763526
38.9818042895 , -76.4996073974
39.0956106892 , -76.8881444054
42.259057073 , -71.7908365459
47.8052920108 , -122.344463373
40.1004283838 , -83.1100312676
34.7514357595 , -92.2848499243
40.7667936278 , -73.0623110667
-0.789275 , 113.921327
39.71222905 , -86.3767605722
28.0654871667 , -80.5993049111
44.8994369333 , -93.6290790944
29.9867312917 , -90.2039336556
42.9895155361 , -71.4658843528
41.7068693 , -73.9256479722
42.2985620057 , -88.27068894
47.5317897257 , -122.028410329
40.1304704629 , -82.9411098857
40.9604889971 , -72.2086191457
39.4130433118 , -77.4112680382
42.6526391382 , -83.0084165088
39.9186171912 , -75.3381714529
42.4392219676 , -82.9152793647
39.3310494441 , -74.5753354824
34.7303688 , -86.5861037
33.5095943 , -117.165718494
38.3047222 , -122.2988889
42.0166667 , -94.3766667
41.5062953765 , -73.08288425
43.0164474294 , -88.2321349
34.1014873 , -84.5193754
29.2111177303 , -81.0235402152
34.2257255 , -77.9447102
38.4409558182 , -122.716739533
33.3703197 , -112.5837766
27.8005828 , -97.396381
41.2741740909 , -73.8462644727
-8.66436294545 , 115.211340188
25.2644444 , 55.3116667
35.5477464606 , -80.8283893576
42.1353429312 , -71.4370658625
40.6156626906 , -75.36652545
35.0456297 , -85.3096801
32.4619138719 , -84.9889333906
42.101790225 , -75.9255298375
39.5655266186 , -104.796156453
34.0986573656 , -117.355809122
43.1835389594 , -87.9564076344
20.6762822937 , -103.347315313
3.5848877375 , 98.67732915
38.0317136 , -84.4951359
46.7802946548 , -92.1008330452
34.2659 , -119.258366
52.3729639903 , 4.89231722258
48.7595529 , -122.4882249
40.3041310903 , -74.3125253806
40.7935000452 , -77.857595071
40.8803139323 , -73.0781473581
44.6646869742 , -93.2282841645
39.961863371 , -75.6021381419
26.6440687097 , -81.8733119742
14.5944461258 , 121.015826494
40.1631208129 , -105.106372132
41.4741657226 , -81.5239744581
38.62457134 , -121.298144653
39.9625984 , -76.727745
39.94187741 , -74.1481392333
39.0558235 , -95.6890185
42.2817795133 , -71.58480652
42.2530480733 , -83.17962893
33.9323080533 , -83.9922039933
33.5689814033 , -84.3290716233
38.9985425966 , -76.813618669
34.0050079 , -118.8100893
39.024605131 , -84.5856282069
21.3778098414 , -158.003045134
38.0293059 , -78.4766781
30.6442647897 , -96.3489137586
36.2561300448 , -94.1243123241
28.3297016724 , -80.6728876966
27.3364347 , -82.5306527
33.8333716 , -111.9507042
36.1987264 , -86.5878606357
25.8456722643 , -80.3188905964
39.3565774429 , -84.4973694143
42.058436 , -70.1786374
41.6056416607 , -88.2038183179
42.1923157893 , -88.29305955
32.7253248 , -114.624397
42.4439614 , -76.5018807
46.729553 , -94.6858998
-33.8606304286 , 151.204775929
40.3731594393 , -74.51987565
42.8932504214 , -87.863381425
45.6387281 , -122.6614861
35.8456213 , -86.39027
33.5778631 , -101.8551665
40.4196225464 , -79.8507862
40.5116828821 , -80.1961084107
61.2180556 , -149.9002778
37.6594499444 , -77.5133409741
46.8768199222 , -96.7872943778
41.3580708 , -72.1052785556
42.7261309 , -87.7828523
36.0998596 , -80.244216
31.230393 , 121.473704
-33.4257406407 , -70.5707398593
36.0572773889 , -94.1658606556
41.5311774889 , -87.4926533852
40.0289868111 , -76.3163172889
45.5223169 , -122.411026963

43.4515758148 , -80.4999384815
29.6195397923 , -95.6319761385
39.6945237885 , -75.7521574923
18.4339505077 , -66.1107003269
-34.6119959577 , -58.3718653577
41.9981228231 , -91.6697868692
-7.79746918462 , 110.366031742
42.1292241 , -80.085059
40.1210773538 , -75.4908632731
40.6940440923 , -89.5908347538
41.2033216 , -77.1945247
47.6587802 , -117.4260466
33.2078221115 , -97.1251833654
40.2862357385 , -111.688920623
37.2136113231 , -93.2966431038
32.9398771115 , -96.5904837115
40.6294525 , -75.49198334
42.087314624 , -88.284168884
30.282790376 , -81.395321336
34.6100243 , -112.315721
41.712166196 , -71.433390084
41.605020956 , -87.903899084
40.290735404 , -75.132053236
42.062429216 , -71.198006748
43.074149144 , -70.772261672
44.0247062 , -88.5426136
38.7809192917 , -90.534779225
39.755543 , -105.2210997
41.5898431167 , -83.6716027833
40.6473882708 , -74.602102525
30.0080668292 , -95.2366504625
36.59689935 , -121.892799779
37.9753390208 , -121.737315162
28.6641521875 , -81.1904694042
41.3805865833 , -81.4496983417
45.5254108 , -122.976122233
39.3722121 , -104.8560902
39.3460977304 , -76.4911708609
41.1691865609 , -81.4073446696
43.5521160609 , -79.6279655043
38.7289405739 , -75.0896012696
32.0595018783 , 34.788656713
41.6813781391 , -91.5701626304
41.00527 , 28.97696
38.5966977348 , -122.857686835
45.4086343696 , -122.630708961
43.1900976826 , -70.8673582174
40.4206875913 , -86.8895384652
-37.8090540565 , 144.966681387
39.5872222 , -78.8425
47.0389673727 , -122.904727245
43.1373693591 , -77.4511946136
41.3638627182 , -81.5870070227
43.2072670182 , -88.1173260909
35.4087517 , -80.579511
25.673211 , -100.309201
39.7433898364 , -74.9635050136
35.6005903136 , -82.5504359409
33.8282948682 , -84.6241471636
43.7844397 , -88.7878678
44.5078962364 , -88.0276415045
37.6370896727 , -120.995097818
34.4235565636 , -119.845820482
44.0216306 , -92.4698992
36.9989217591 , -76.3916683091
34.2694474 , -118.781482
34.5400242 , -112.4685025
35.2219971 , -101.8312969
33.8206668619 , -116.530053814
-6.18396622381 , 106.624447167
34.483901 , -114.3224548
37.6818745 , -121.7680088
36.6777372 , -121.6555013
32.8795022 , -111.7573521
39.6417680476 , -106.562543733
42.8197807905 , -73.9378692667
42.3687123381 , -87.8883936476
42.284991915 , -89.083953605
35.2827524 , -120.6596156
34.9530337 , -120.4357191
34.2073196 , -84.1401926
41.6619105 , -83.54837848
38.545003715 , -121.738197205
42.63824706 , -71.379054085
39.670073315 , -84.12874245
44.9428975 , -123.0350963
40.63109402 , -89.40460156
33.7075805737 , -116.237126942
40.8566946211 , -74.6114275211
32.216316 , -80.752608
41.3376975316 , -81.8428690053
22.396428 , 114.109497
42.1832995316 , -88.1248734474
41.3728435421 , -71.9548793263
37.4315734 , -78.6568942
26.1420358 , -81.7948103
53.3428873263 , -6.26930292105
41.4477306737 , -74.0284128789
34.8697395 , -111.7609896
35.6528323 , -97.4780954
38.0182689158 , -121.851463084
29.9382717474 , -93.9207204737
26.2026892053 , -98.2316034
38.4087993 , -121.3716178
37.9745863333 , -87.5566949556
41.1905306667 , -111.995420306
38.4565458444 , -122.418960178
-6.2474466 , 107.1484521
41.48290625 , -72.8231859722
30.6943566 , -88.0430541
30.5174659167 , -97.8257521
29.7857853 , -95.8243956
42.3516742722 , -72.57957465
40.3878639499 , -75.951441732
48.4330612 , -123.361904533
35.3732921 , -119.0187125
47.6057968167 , -122.669803617
40.6460622 , -111.4979729
21.158964 , -86.845937
40.4174554944 , -3.7009102
41.8780025 , -93.097702
32.6098566 , -85.4807825
30.0799405 , -95.4171601
37.9577016 , -121.2907796
41.4460157647 , -75.6680767176
37.1305012 , -121.6543901
55.6868261765 , 12.5899425529
44.7630567 , -85.6206317
53.543564 , -113.490452
34.6867846 , -118.1541632
33.4758669765 , -82.0070491294
41.1399814 , -104.8202462
-33.0504619 , -71.6164515
42.8806425 , -71.3272856
43.685271 , -79.759924
50.1115118 , 8.6805059
35.5280783 , -108.7425843
36.8252277 , -119.7029194
42.115474425 , -79.2863677125
43.6808560625 , -72.2879520875
44.0581728 , -121.3153096
43.0961709 , -88.40263155
32.3199396 , -106.7636538
41.6418709875 , -88.05172695
41.2558453313 , -75.8874708938
60.1699538875 , 24.9377301188
42.7653543125 , -78.7826006875
37.2046429 , -80.4126892
37.2707022 , -76.7074571
9.95896848125 , -84.1056328562
41.63459085 , -72.6352340375
34.935238425 , -82.234904475
42.0598133813 , -70.9512573812
38.0411820687 , -122.150053263
30.4081673267 , -86.5283198533
35.1113603429 , -89.7979821214
41.4862008769 , -70.5977423615
32.5989600231 , -96.8953653615
41.5772242333 , -73.415722975
41.2203980364 , -73.6666194182
41.61853175 , -88.445568175
38.65877915 , -76.8856871
39.2494686 , -77.1821271

Как мы помним, 20 баннеров надо разместить близ офисов компании. Найдем на Google Maps по запросу Carnival Cruise Line адреса всех офисов:

33.751277, -118.188740 (Los Angeles)

25.867736, -80.324116 (Miami)

51.503016, -0.075479 (London)

52.378894, 4.885084 (Amsterdam)

39.366487, 117.036146 (Beijing)

-33.868457, 151.205134 (Sydney)

Осталось определить 20 ближайших к ним центров кластеров. Т.е. посчитать дистанцию до ближайшего офиса для каждой точки и выбрать 20 с наименьшим значением.

In [133]:
offices = [
    [33.751277, -118.188740, "Los Angeles"],
    [25.867736, -80.324116,  "Miami"],
    [51.503016, -0.075479, "London"],
    [52.378894, 4.885084, "Amsterdam"],
    [39.366487, 117.036146, "Beijing"],
    [-33.868457, 151.205134, "Sydney"]
]

Примечание: при подсчете расстояний и в кластеризации можно пренебречь тем, что Земля круглая, так как в точках, расположенных близко друг к другу погрешность мала, а в остальных точках значение достаточно велико.

In [179]:
l1, l2, _ = zip(*offices)
points = zip(l1, l2)

In [181]:
from scipy.spatial import distance
distance.cdist(points, points, 'euclidean')

array([[   0.        ,   38.67660752,  119.43980351,  124.47551675,
         235.29189866,  277.75076557],
       [  38.67660752,    0.        ,   84.24376132,   89.23816035,
         197.82135703,  239.11128447],
       [ 119.43980351,   84.24376132,    0.        ,    5.03729566,
         117.73881283,  173.70697243],
       [ 124.47551675,   89.23816035,    5.03729566,    0.        ,
         112.9034253 ,  169.84746859],
       [ 235.29189866,  197.82135703,  117.73881283,  112.9034253 ,
           0.        ,   80.81384017],
       [ 277.75076557,  239.11128447,  173.70697243,  169.84746859,
          80.81384017,    0.        ]])

In [263]:
dist = distance.cdist(points, optimal_clusters) # get matirx with distances between every points

In [183]:
dist.shape

(6, 593)

In [195]:
dist

array([[  44.74257092,    6.19395917,    6.29424146, ...,   30.76605219,
          41.5935783 ,   41.37357142],
       [  16.14371999,   32.5726786 ,   32.47447468, ...,   17.72133043,
          13.24513413,   13.74564883],
       [  74.69906582,  113.37331719,  113.2748328 , ...,   88.92117683,
          77.87671339,   78.07422497],
       [  79.73425538,  118.41008135,  118.31160891, ...,   93.94890117,
          82.91381403,   83.1108233 ],
       [ 191.0327603 ,  229.11470442,  229.01456477, ...,  205.49405482,
         193.92312447,  194.21830835],
       [ 237.22725876,  271.67953165,  271.58164907, ...,  251.2583223 ,
         239.34415107,  239.80611351]])

Для сдачи задания выберите из получившихся 20 центров тот, который наименее удален от ближайшего к нему офиса. Ответ в этом задании — широта и долгота этого центра, записанные через пробел.

In [197]:
a = np.arange(6).reshape(2,3)
a

array([[0, 1, 2],
       [3, 4, 5]])

In [198]:
a.reshape(1,6)

array([[0, 1, 2, 3, 4, 5]])

In [213]:
b = a.reshape(1,a.shape[0]*a.shape[1])[0]
b

array([0, 1, 2, 3, 4, 5])

In [215]:
b.reshape(a.shape[0],a.shape[1])

array([[0, 1, 2],
       [3, 4, 5]])

In [222]:
import operator  # import itemgetter, attrgetter
sorted(enumerate(b), key=operator.itemgetter(1) )[:3]

[(0, 0), (1, 1), (2, 2)]

In [225]:
dest_array = dist.reshape(1, dist.shape[0]*dist.shape[1])[0] # make one array for sorting

In [237]:
dest_min_20 = sorted(enumerate(dest_array), key=operator.itemgetter(1))[:20] # sort with index saving
dest_min_20

[(3375, 0.007834758163107856),
 (2151, 0.0093533161859922255),
 (995, 0.022674066158385495),
 (1244, 0.050058294822787869),
 (51, 0.070847732427199731),
 (622, 0.13410903336184654),
 (759, 0.16740596425035326),
 (685, 0.18887596060185083),
 (87, 0.19577945647763628),
 (42, 0.21181053682436798),
 (285, 0.22223329073179071),
 (908, 0.27130075950667348),
 (119, 0.29497888680045692),
 (648, 0.30227011869246051),
 (27, 0.30473050307840693),
 (11, 0.31488379033627317),
 (32, 0.33881047025113181),
 (751, 0.34084565332205718),
 (17, 0.37868750125029754),
 (47, 0.38670622484272771)]

In [242]:
print "module",11//4,"remainder",11%4, 3375//dist.shape[1]

module 2 remainder 3 5

In [261]:
def index_restore(num, shape_m): # restore indexes into matrix
    row = num // shape_m 
    col = num % shape_m 
    return [row, col]

In [259]:
dist.shape[1]

593

In [262]:
for d in dest_min_20:
    row, col = index_restore(d[0], dist.shape[1])
    print d, dist.shape[1], row, col #print restored matrix indexes

(3375, 0.007834758163107856) 593 5 410
(2151, 0.0093533161859922255) 593 3 372
(995, 0.022674066158385495) 593 1 402
(1244, 0.050058294822787869) 593 2 58
(51, 0.070847732427199731) 593 0 51
(622, 0.13410903336184654) 593 1 29
(759, 0.16740596425035326) 593 1 166
(685, 0.18887596060185083) 593 1 92
(87, 0.19577945647763628) 593 0 87
(42, 0.21181053682436798) 593 0 42
(285, 0.22223329073179071) 593 0 285
(908, 0.27130075950667348) 593 1 315
(119, 0.29497888680045692) 593 0 119
(648, 0.30227011869246051) 593 1 55
(27, 0.30473050307840693) 593 0 27
(11, 0.31488379033627317) 593 0 11
(32, 0.33881047025113181) 593 0 32
(751, 0.34084565332205718) 593 1 158
(17, 0.37868750125029754) 593 0 17
(47, 0.38670622484272771) 593 0 47

In [248]:
for d in dest_min_20:
    #row, col = index_restore(d[0], dist.shape[1])
    print d, dist.shape[1], d[0]//dist.shape[1], d[0]% dist.shape[1] #, row, col

(3375, 0.007834758163107856) 593 5 410
(2151, 0.0093533161859922255) 593 3 372
(995, 0.022674066158385495) 593 1 402
(1244, 0.050058294822787869) 593 2 58
(51, 0.070847732427199731) 593 0 51
(622, 0.13410903336184654) 593 1 29
(759, 0.16740596425035326) 593 1 166
(685, 0.18887596060185083) 593 1 92
(87, 0.19577945647763628) 593 0 87
(42, 0.21181053682436798) 593 0 42
(285, 0.22223329073179071) 593 0 285
(908, 0.27130075950667348) 593 1 315
(119, 0.29497888680045692) 593 0 119
(648, 0.30227011869246051) 593 1 55
(27, 0.30473050307840693) 593 0 27
(11, 0.31488379033627317) 593 0 11
(32, 0.33881047025113181) 593 0 32
(751, 0.34084565332205718) 593 1 158
(17, 0.37868750125029754) 593 0 17
(47, 0.38670622484272771) 593 0 47

In [249]:
dist[5][410] # get value off

0.007834758163107856

In [250]:
optimal_clusters[410]

array([ -33.86063043,  151.20477593])